.corpo {
    width: 90%;
    margin: auto;
    margin-bottom: 65px;
    margin-top: 35px;
    padding: 0 30px;
    min-height: 800px;
    line-height: 1.6;
    word-spacing: 4px;
    letter-spacing: 0.1px;
    text-align: justify;
    background-color: #f0eecc;
    box-shadow: 0 2px 4px 0 #00000033;

    border: 1px solid red;
}
