.container {
    background-color: white;
    margin: 20px 10px;
    padding: 25px 30px;
    font-size: 15px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 #00000033;
    text-align: justify;
    border-radius: 3px;
    color: #222146;
}

h2 {
    padding-bottom: 20px;
}

.img_form {
    width: 30%;
    margin-left: 35%;
}

.form {
    margin-left: 30%;
}

fieldset {
    border: 0;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px #00000033;
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 10px;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px #00000033;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 20%;
}

.botao:hover {
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

