.header {
  background: #dcccb5 url(../../assets/kombucha6.jpg) no-repeat;  

  align-items: center;
  margin: auto;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 #00000033;
  width: 100%;
  height: 500px;
  padding-top: 120px;
  background-position: 50%;
}




