.rodape {
    background-image: linear-gradient(180deg, #9fb47a 0%, #303036 100%);
    letter-spacing: 0.1rem;
}

footer {
    margin-top: 10px;
    min-height: 250px;
    display: flex;
}

footer div {
    width: 100%;
    padding: 15px 0;
    flex-direction: row;
}

footer h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #346d45;
    text-shadow: 4px 4px 8px #b1a9a9;
}

footer h3 span {
    color: #b11876;
    font-size: 25px;
    letter-spacing: 1px;
    padding-right: 8px;
}

.links_footer h4 {
    font-size: 18px;
    color: white;
    padding-top: 35px;
    text-align: center;
    font-weight: normal;
}

.links_footer li {
    padding-bottom: 20px;
}

.link_footer {
    font-size: 14px;
    color: white;   
    text-decoration: none;  
    border-radius: 40px;
    padding: 7px 13px 9px 13px;
}

.rodape_p {
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.links_footer_contato {
    margin-top: 80px;
}

.links_footer_contato li {
    padding-bottom: 15px;
}

.rodape_p p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    word-spacing: 3px;
    letter-spacing: 0.7px;
}

.links_footer a:hover {
    background-color: #3e6661;
    color: #fff;
    transition: 0.4s;
    border-radius: 40px;
    box-shadow: 1px 1px 4px 1px #4d7059;
}
